<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dynamic Fetch with Thymeleaf</title>
</head>
<body>
<h1>Dynamic Fetch Example</h1>

<button id="fetchButton">Fetch Data</button>
<div id="result"></div>

<script>
    document.getElementById("fetchButton").addEventListener("click", function() {
        fetch('https://services.surfline.com/kbyg/spots/forecasts/weather?spotId=5842041f4e65fad6a770888a&days=16&intervalHours=1&cacheEnabled=true&units[temperature]=F')
            .then((response) => {
                        if(!response.ok){
                            throw new Error('this did not work');
                        }
                        return response
                    })
                    .then((data) => {
                  console.log(data);

                        return data.json()
//
                    })
            //    document.getElementById("result").textContent = JSON.stringify(data);
         //   console.log(data);
         /*   .then(obj=>{
                console.log(obj)
            })
            .catch(error => console.error('Error fetching data:', error));
   */ });
</script>
</body>
</html>
