<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Surf Tracker</title>
  <link rel="icon" type="image/x-icon" href="surf.JPG">
  <link rel="stylesheet" href="video_current_styles.css">
  <script src="time.js" defer></script>
  <style>
    /* Add padding to table cells */
    table.current-conditions td,
    table.current-conditions th {
      padding: 10px 15px; /* 10px vertical padding, 15px horizontal padding */
    }

    /* Indentation for surf forecasting source names */
    .source-indent {
      text-indent: 15px; /* Adjust indentation as needed */
    }

    /* Example of custom styling, feel free to adjust as needed */
    table.current-conditions {
      border-collapse: collapse;
      text-align: left;
      width: 100%; /* Ensure table takes full width */
    }

    /* Styling for the header */
    table.current-conditions th {
      background-color: #30b12b;
      color: white;
      font-weight: bold;
    }

    /* Styling for the table rows */
    table.current-conditions td {
      border: 1px solid #dddddd; /* Optional: Adds a border between cells */
    }
  </style>
</head>

<body>



<!-- Side navigation bar -->
<div class="topnav">
  <div class="dropdown">
    <button class="dropbtn home">Breaks
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/PontoCurrent">Ponto (Carlsbad)</a>
      <a href="/TamarackCurrent">Tamarack </a>
      <a href="/OceansideCurrent">Oceanside </a>
      <a href="/SanOnofreCurrent">San Onofre </a>
      <a href="/LowerTrestlesCurrent">Lower Trestles</a>
      <a href="/UpperTrestlesCurrent">Upper Trestles</a>
      <a href="/TStreetCurrent">T-Street</a>
      <a href="/DohenyCurrent">Doheny</a>
      <a href="/SaltCreekCurrent">Salt Creek</a>
      <a href="/NewportBeachCurrent">Newport Beach</a>
      <a href="/HuntingtonBeachCurrent">Huntington Beach</a>
      <a href="/SealBeachPierCurrent">Seal Beach Pier</a>
    </div>
  </div>

  <a class="current" href="/Home">Home</a>

  <!-- Logout Button -->

  <div class = "logout-button" th:insert="logout-button"></div>


</div>


<div>
  <h2 style="text-align: left;">SoCal SurfTracker <br> Current Conditions</h2>
</div>

<!-- Video, Time, and Conditions Container -->
<div class="video-time-container">
  <iframe src="https://www.youtube.com/embed/NbsrijM_puc" allowfullscreen></iframe>

  <div>
    <div id="time">14:45:23</div>
    <div style="padding: 16px">
      <div class="table-container" style="display: flex; justify-content: center;">
        <table class="current-conditions" style="border-collapse: collapse; width: 25%; text-align: left">
          <tr style="font-weight: bold; background-color: #30b12b; color: white;">
          </tr>

          <!-- Current Conditions -->
          <tr>
            <td style="font-size: 24px; white-space: nowrap; padding-right: 20px"><b>3-4ft</b></td>
            <td class="highlight-bg" style="font-size: 24px; white-space: nowrap"><b>Fair</b></td>
          </tr>
          <tr>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Surf and Conditions Table -->
<div style="padding: 16px;font-weight: bold">
  <div class="table-container" style="display: flex; justify-content: left;">
    <table class="current-conditions" style="border-collapse: collapse; width: 50%; text-align: left;">
      <tr>
        <td style="white-space: nowrap;">Ponto (Carlsbad)</td>
        <td style="white-space: nowrap;">
          <span th:text="${ponto != null && ponto.averageWaveHeight != null ? ponto.averageWaveHeight : 'N/A'}"></span>
        </td>
        <td style="white-space: nowrap;">
          <span th:text="${ponto != null && ponto.getWaveQuality() != null ? ponto.getWaveQuality() : 'N/A'}"></span>
        </td>
      </tr>

      <tr>
        <td style="white-space: nowrap;">Tamarack</td>
        <td style="white-space: nowrap;">
          <span th:text="${tamarack != null && tamarack.averageWaveHeight != null ? tamarack.averageWaveHeight : 'N/A'}"></span>
        </td>
        <td style="white-space: nowrap;">
          <span th:text="${tamarack != null && tamarack.getWaveQuality() != null ? tamarack.getWaveQuality() : 'N/A'}"></span>
        </td>
      </tr>

      <tr>
        <td style="white-space: nowrap;">Oceanside</td>
        <td style="white-space: nowrap;">
          <span th:text="${oceanside != null && oceanside.averageWaveHeight != null ? oceanside.averageWaveHeight : 'N/A'}"></span>
        </td>
        <td style="white-space: nowrap;">
          <span th:text="${oceanside != null && oceanside.getWaveQuality() != null ? oceanside.getWaveQuality() : 'N/A'}"></span>
        </td>
      </tr>

      <tr>
        <td style="white-space: nowrap;">San Onofre</td>
        <td style="white-space: nowrap;">
          <span th:text="${sanOnofre != null && sanOnofre.averageWaveHeight != null ? sanOnofre.averageWaveHeight : 'N/A'}"></span>
        </td>
        <td style="white-space: nowrap;">
          <span th:text="${sanOnofre != null && sanOnofre.getWaveQuality() != null ? sanOnofre.getWaveQuality() : 'N/A'}"></span>
        </td>
      </tr>

      <tr>
        <td style="white-space: nowrap;">Lower Trestles</td>
        <td style="white-space: nowrap;">
          <span th:text="${lowerTrestles != null && lowerTrestles.averageWaveHeight != null ? lowerTrestles.averageWaveHeight : 'N/A'}"></span>
        </td>
        <td style="white-space: nowrap;">

          <span th:text="${lowerTrestles != null && lowerTrestles.getWaveQuality() != null ? lowerTrestles.getWaveQuality() : 'N/A'}"></span>
        </td>
      </tr>


      <tr>
        <td style="white-space: nowrap;">Upper Trestles</td>
        <td style="white-space: nowrap;">
          <span th:text="${upperTrestles != null && upperTrestles.averageWaveHeight != null ? upperTrestles.averageWaveHeight : 'N/A'}"></span>
        </td>
        <td style="white-space: nowrap;">

          <span th:text="${upperTrestles != null && upperTrestles.getWaveQuality() != null ? upperTrestles.getWaveQuality() : 'N/A'}"></span>
        </td>
      </tr>

      <tr>
        <td style="white-space: nowrap;">T-Street</td>
        <td style="white-space: nowrap;">
          <span th:text="${tStreet != null && tStreet.averageWaveHeight != null ? tStreet.averageWaveHeight : 'N/A'}"></span>
        </td>
        <td style="white-space: nowrap;">

          <span th:text="${tStreet != null && tStreet.getWaveQuality() != null ? tStreet.getWaveQuality() : 'N/A'}"></span>
        </td>
      </tr>

      <tr>
        <td style="white-space: nowrap;">Doheny</td>
        <td style="white-space: nowrap;">
          <span th:text="${doheny != null && doheny.averageWaveHeight != null ? doheny.averageWaveHeight : 'N/A'}"></span>
        </td>
        <td style="white-space: nowrap;">

          <span th:text="${doheny != null && doheny.getWaveQuality() != null ? doheny.getWaveQuality() : 'N/A'}"></span>
        </td>
      </tr>

      <tr>
        <td style="white-space: nowrap;">Salt Creek</td>
        <td style="white-space: nowrap;">
          <span th:text="${saltCreek != null && saltCreek.averageWaveHeight != null ? saltCreek.averageWaveHeight : 'N/A'}"></span>
        </td>
        <td style="white-space: nowrap;">

          <span th:text="${saltCreek != null && saltCreek.getWaveQuality() != null ? saltCreek.getWaveQuality() : 'N/A'}"></span>
        </td>
      </tr>

      <tr>
        <td style="white-space: nowrap;">Newport Beach</td>
        <td style="white-space: nowrap;">
          <span th:text="${newportBeach != null && newportBeach.averageWaveHeight != null ? newportBeach.averageWaveHeight : 'N/A'}"></span>
        </td>
        <td style="white-space: nowrap;">

          <span th:text="${newportBeach != null && newportBeach.getWaveQuality() != null ? newportBeach.getWaveQuality() : 'N/A'}"></span>
        </td>
      </tr>

      <tr>
        <td style="white-space: nowrap;">Huntington Beach</td>
        <td style="white-space: nowrap;">
          <span th:text="${huntingtonBeach != null && huntingtonBeach.averageWaveHeight != null ? huntingtonBeach.averageWaveHeight : 'N/A'}"></span>
        </td>
        <td style="white-space: nowrap;">

          <span th:text="${huntingtonBeach != null && huntingtonBeach.getWaveQuality() != null ? huntingtonBeach.getWaveQuality() : 'N/A'}"></span>
        </td>
      </tr>

      <tr>
        <td style="white-space: nowrap;">Seal Beach Pier</td>
        <td style="white-space: nowrap;">
          <span th:text="${sealBeachPier != null && sealBeachPier.averageWaveHeight != null ? sealBeachPier.averageWaveHeight : 'N/A'}"></span>
        </td>
        <td style="white-space: nowrap;">

          <span th:text="${sealBeachPier != null && sealBeachPier.getWaveQuality() != null ? sealBeachPier.getWaveQuality() : 'N/A'}"></span>
        </td>
      </tr>

    </table>
  </div>
</div>

<!--<table>-->
<!--  <tr>-->
<!--    <th><b>Fellow Surfers</b></th>-->
<!--  </tr>-->
<!--  <tr th:each="user: ${users}">-->
<!--    <td th:text="${user.username}"></td>-->
<!--    &lt;!&ndash; <td th:text="${user.homebreak}"></td> &ndash;&gt;-->
<!--  </tr>-->
<!--</table>-->

</body>

</html>