<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>SoCal SurfTracker Login</title>
</head>
<body>

<h1>SoCal SurfTracker Login</h1>

<form th:action="@{/login}" th:object="${user}" method="POST">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" th:field="*{username}" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" required>
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
    <div>
        <a href="http://localhost:8080/register">Not Registered? | Sign up!</a>
    </div>
</form>
<!-- Video, Time, and Conditions Container -->
<div class="video-time-container">
 <!--   <iframe src="https://www.youtube.com/embed/KV3ozZoQ13M?autoplay=1&mute=1" allowfullscreen></iframe> -->
    <iframe src="https://www.youtube.com/embed/KV3ozZoQ13M" allowfullscreen></iframe>

    <div>
</body>
</html>



