<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Surf Tracker</title>
  <link rel="icon" type="image/x-icon" href="surf.JPG">
  <link rel="stylesheet" href="/picture_current_styles.css">
  <script src="/time.js" defer></script>
  <style>
    /* Add padding to table cells */
    table.current-conditions td, 
    table.current-conditions th {
      padding: 10px 15px; /* 10px vertical padding, 15px horizontal padding */
    }

    /* Indentation for surf forecasting source names */
    .source-indent {
      text-indent: 15px; /* Adjust indentation as needed */
    }

    /* Example of custom styling, feel free to adjust as needed */
    table.current-conditions {
      border-collapse: collapse;
      text-align: left;
      width: 100%; /* Ensure table takes full width */
    }

    /* Styling for the header */
    table.current-conditions th {
      background-color: #30b12b;
      color: white;
      font-weight: bold;
    }

    /* Styling for the table rows */
    table.current-conditions td {
      border: 1px solid #dddddd; /* Optional: Adds a border between cells */
    }
  </style>
</head>

<body>


  <!-- Side navigation bar -->
  <div class="topnav">
    <div class="dropdown">
      <button class="dropbtn home">Breaks
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/PontoCurrent">Ponto (Carlsbad)</a>
        <a href="/TamarackCurrent">Tamarack </a>
        <a href="/OceansideCurrent">Oceanside </a>
        <a href="/SanOnofreCurrent">San Onofre </a>
        <a href="/LowerTrestlesCurrent">Lower Trestles</a>
        <a href="/UpperTrestlesCurrent">Upper Trestles</a>
        <a href="/TStreetCurrent">T-Street</a>
        <a href="/DohenyCurrent">Doheny</a>
        <a href="/SaltCreekCurrent">Salt Creek</a>
        <a href="/NewportBeachCurrent">Newport Beach</a>
        <a href="/HuntingtonBeachCurrent">Huntington Beach</a>
        <a href="/SealBeachPierCurrent">Seal Beach Pier</a>
      </div>
    </div>
    <a class="current" href="/Home">Home</a>
    <a class="current" href="/OceansideCurrent">Current</a>
    <a class="hourly" href="#OceansideHourly">Hourly</a>
    <a class="forecast" href="#OceansideFiveDay">5 Day</a>

    <!-- Logout Button -->

    <div class = "logout-button" th:insert="logout-button"></div>

  </div>

  <div>
   <!-- <h2 style="text-align: left;"> <span th:text="${surfSpot.surfSpotName != null ? surfSpot.surfSpotName : 'N/A'}"></span> <br>Conditions</h2> -->
    <h2 style="text-align: left;"><span th:text="${surfSpot.getSurfSpotName() != null ? surfSpot.getSurfSpotName() : 'N/A'}"></span> <br> Conditions</h2>
  </div>

  <!-- Image, Time, and Conditions Container -->
  <div class="video-time-container">
    <img src="oceanside.jpg" alt="Oceanside">
    <div>
      <div id="time">14:45:23</div>
      <div style="padding: 16px">
        <div class="table-container" style="display: flex; justify-content: center;">
          <table class="current-conditions" style="border-collapse: collapse; width: 25%; text-align: left">
            <tr style="font-weight: bold; background-color: #30b12b; color: white;">
            </tr>

            <!-- Current Conditions -->
            <tr>
              <!--   <td style="font-size: 24px; white-space: nowrap; padding-right: 20px"><b>3-4ft</b></td>   -->
              <td style="font-size: 24px; white-space: nowrap; padding-right: 20px"><b><span th:text="${surfSpot.averageWaveHeight != null ? surfSpot.averageWaveHeight : 'N/A'}"></span></b></td>
              <!--  <td class="highlight-bg" style="font-size: 24px; white-space: nowrap"><b>Fair</b></td>    -->

              <td class="highlight-bg" style="font-size: 24px; white-space: nowrap"><b><span th:text="${surfSpot.waveQuality != null ? surfSpot.waveQuality : 'N/A'}"></span></b></td>
            </tr>
            <tr>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Surf and Conditions Table -->
  <div style="padding: 16px;font-weight: bold">
    <div class="table-container" style="display: flex; justify-content: left;">
      <table class="current-conditions" style="border-collapse: collapse; width: 50%; text-align: left;">
        <tr>
          <td style="white-space: nowrap;">
            <a href="https://www.surfline.com/surf-report/oceanside-pier/5842041f4e65fad6a7708835?camId=58349e42e411dc743a5d52c4">
              SurfLine
            </a>
          </td>
          <!--   <td style="white-space: nowrap;">3-4+</td>   -->

          <td style="white-space: nowrap;"><span th:text="${surfSpot.surfLineWaveHeight != null ? surfSpot.surfLineWaveHeight : 'N/A'}"></span></td>
        </tr>

        <tr>
          <td style="white-space: nowrap;">
            <a href="https://surfcaptain.com/forecast/oceanside-california">
              SurfCaptain
            </a>
          </td>
          <td style="white-space: nowrap;"><span th:text="${surfSpot.surfCaptainWaveHeight != null ? surfSpot.surfCaptainWaveHeight : 'N/A'}"></span></td>
        </tr>
        <tr>
          <td style="white-space: nowrap;">
            <a href="https://deepswell.com/surf-report/US/North-San-Diego/Oceanside-Pier-northside/1001">
              DeepSwell
            </a>
          </td>
          <td style="white-space: nowrap;"> <span th:text="${surfSpot.deepSwellWaveHeight != null ? surfSpot.deepSwellWaveHeight : 'N/A'}"></span></td>
        </tr>
        <tr>
          <td style="white-space: nowrap;">
            <a href="https://www.surf-forecast.com/breaks/Oceanside-Pier/forecasts/latest/">
              Surf-Forecast
            </a>
          </td>
          <td style="white-space: nowrap;"> <span th:text="${surfSpot.surfForecastWaveHeight != null ? surfSpot.surfForecastWaveHeight : 'N/A'}"></span></td>
        </tr>
        <tr>
          <td style="white-space: nowrap;">Wind</td>
          <td style="white-space: nowrap;"><span th:text="${surfSpot.wind != null ? surfSpot.wind : 'N/A'}"></span></td>
        </tr>
        <tr>
          <td style="white-space: nowrap;">Tide</td>
          <td style="white-space: nowrap;"><span th:text="${surfSpot.tide != null ? surfSpot.tide : 'N/A'}"></span></td>
        </tr>
       <!--
        <tr>
          <td style="white-space: nowrap;">Water Temperature</td>
          <td style="white-space: nowrap;">67º</td>
        </tr>
        -->
        <tr>
          <td style="white-space: nowrap;">Air Temperature</td>
          <td style="white-space: nowrap;"><span th:text="${surfSpot.airTemperature != null ? surfSpot.airTemperature : 'N/A'}"></span></td>
        </tr>
         <tr>
          <td style="white-space: nowrap;">Sunrise</td>
          <td style="white-space: nowrap;"><span th:text="${surfSpot.sunrise != null ? surfSpot.sunrise : 'N/A'}"></span></td>
        </tr>
        <tr>
          <td style="white-space: nowrap;">Sunset</td>
          <td style="white-space: nowrap;"><span th:text="${surfSpot.sunset != null ? surfSpot.sunset : 'N/A'}"></span></td>
        </tr>
        <tr>
          <td style="white-space: nowrap;">Weather</td>
          <td style="white-space: nowrap;"><span th:text="${surfSpot.weatherConditions != null ? surfSpot.weatherConditions : 'N/A'}"></span></td>
        </tr>
      </table>
    </div>
  </div>

  <!-- Current Swells Table -->
  <div style="padding: 16px;">
    <h2 style="text-align: left;">Current Swells</h2>
    <div class="table-container" style="display: flex; justify-content: left;">
      <table class="current-conditions" style="border-collapse: collapse; width: 50%; text-align: center;">
        <tr style="font-weight: bold; background-color: #30b12b; color: white;">
          <td>Swells</td>
          <td>Data</td>
        </tr>
        <tr>
          <td><b>Main Swell</b></td>
          <td><b><span th:text="${surfSpot.swellOne != null ? surfSpot.swellOne : 'N/A'}"></span></b></td>
        </tr>
        <tr>
          <td><b>Secondary Swell</b></td>
          <td><b><span th:text="${surfSpot.swellTwo != null ? surfSpot.swellTwo : 'N/A'}"></span></b></td>
        </tr>
        <tr>
          <td><b>Tertiary Swell</b></td>
          <td><b><span th:text="${surfSpot.swellThree != null ? surfSpot.swellThree : 'N/A'}"></span></b></td>
        </tr>
      </table>
    </div>
  </div>

</body>

</html>
